/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {display:block}html {line-height:1}body {line-height:inherit}ol,ul {list-style:none}blockquote,q {quotes:none}blockquote:after,blockquote:before,q:after,q:before {content:'';content:none}table {border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
/*     background-color: #d9d8d7; */
/*   background-color: #ffffff; */
  background-color: #ebedf0;
}

body {
  
}

/* Classes */

.average_ratings_number {
  font-size: 4em;
  margin-bottom: 0.1em;
}

.average_ratings_title {
  font-size: 1.8em;
}

.bar_graph {
  flex: 0 1 auto;
  align-content: center;
  height: 300px;
  width: 30%;
  min-width: 450px;
  border-style: solid;
  border-width: 1px;
  margin: 2em 1em;
}

.line_graph {
  flex: 0 1 auto;
  height: 300px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  margin: 1em 3em;
}

.survey {
  display: block;
  margin: 1em 0 0 0;
}

.survey_ratings {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.survey_ratings li {
  border-radius: 100%;
  cursor: pointer;
  padding: 5px 12px;
  display: inline;
  font-size: 1.5em;
  margin: 0 1em;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.survey_title {
  text-align: center;
  font-size: 2em;
  margin: 0 0 0.5em; 0;
}

/* IDs */

#average_ratings_container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

#average_ratings_container div {
  flex: 0 1 auto;
  margin: 1em 1.6em;
  width: 30%;
}

#average_ratings_container p {
  text-align: center;
}

#average_rating_outer_title {
  text-align: center;
  font-size: 2.3em;
}

#main_title_header {
  font-family: 'Lora', serif;
  display: block;
  text-align: center;
  font-size: 4em;
  margin: 0.5em 0 1em 0;
}

#submit_button {
  display: block;
  margin: 2em auto;
}

#survey_form {
  display: block;
	font-size: 16px;
	font-family: 'Karla', sans-serif;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
  width: 25em;
	box-sizing: border-box;
	margin: 0 auto;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
  outline: none;
}

.aob_optgroup {
  font-style: normal;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

#survey_form option {
  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

#time_plot_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#average_plot_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
