/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {display:block}html {line-height:1}body {line-height:inherit}ol,ul {list-style:none}blockquote,q {quotes:none}blockquote:after,blockquote:before,q:after,q:before {content:'';content:none}table {border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
/*     background-color: #d9d8d7; */
  background-color: #FFFFFF;
}

body {
  
}

optgroup[label="Retail"] {
  font-style: normal;
}

option {
  color: black;
}

/* Classes */

.average_ratings_number {
  font-size: 4em;
  margin-bottom: 0.1em;
}

.average_ratings_title {
  font-size: 1.8em;
}

.bar_graph {
  flex: 0 1 auto;
  align-content: center;
  height: 300px;
  width: 30%;
  min-width: 450px;
  border-style: solid;
  border-width: 1px;
  margin: 2em 1em;
}

.line_graph {
  flex: 0 1 auto;
  height: 300px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  margin: 1em 3em;
}

.survey {
  display: block;
  margin: 1em 0 0 0;
}

.survey_ratings {
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.survey_ratings li {
  background: #bfbdbb;
  border-radius: 100%;
  cursor: pointer;
  padding: 5px 12px;
  display: inline;
  font-size: 1.5em;
  margin: 0 1em;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.survey_title {
  text-align: center;
  font-size: 2em;
  margin: 0 0 0.5em; 0;
}

/* IDs */

#average_ratings_container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

#average_ratings_container div {
  flex: 0 1 auto;
  margin: 1em 1.6em;
  width: 30%;
}

#average_ratings_container p {
  text-align: center;
}

#average_rating_outer_title {
  text-align: center;
  font-size: 2.3em;
}

#main_title_header {
  font-family: 'Lora', serif;
  font-family: 'Unica One', cursive;
  font-family: 'PT Serif', serif;
  font-family: 'Righteous', cursive;
  display: block;
  text-align: center;
  font-size: 4em;
  margin: 0.5em 0 1em 0;
}

#submit_button {
  display: block;
  margin: 2em auto;
}

#survey_form {
  display: block;
  margin: 0 auto;
}

#time_plot_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#average_plot_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
